*.pickle
raw_images/
raw_images_lr/
raw_images_hr/
aligned_images/
aligned_images_lr/
aligned_images_hr/
generated_images/
generated_images_lr/
generated_images_hr/
latent_representations/
latent_representations_lr/
latent_representations_hr/
.DS_Store
/cache/*
